EWS_URL=https://east.exch028.serverdata.net/EWS/Exchange.asmx
EWS_USERNAME=etucker@metooshoes.com
EWS_PASSWORD=replace-in-deployment-secrets
SHARED_MAILBOX=customerservice@metooshoes.com
MCP_PATH_SECRET=generate-a-long-random-value
PORT=3000
